.App {
  font-family: sans-serif;
  text-align: left;
}
h3 {
  cursor: pointer;
}
.answer {
  text-align: left;
  display: none;
}
.answer p {
  text-align: left;
}
.answer pre {
  color: #fff;
}
.active {
  display: block;
}
